/* .itemCounter {
	-webkit-transition: opacity 2s;
	position: relative;
	opacity: 0;
} */

@media (min-width: 768px) { .container { max-width: 750px; } }

.itemCounter{
	position: relative;
	padding-top: 15px;
	background-color: rgba(89, 100, 228, 1);
	border-radius: 10px;
	-webkit-box-shadow: 1px 1px 5px rgba(71, 71, 141, 0.83);
}

.itemCounter * {
	color: #fff;
	font-size: 28px;
}

.itemBody > *{
	display: inline-block;
}

.delete{
	background: none;
	border: none;
	height: 29px;
	float: left;
}

.delete:focus{
	border:none;
	outline: none;
}

.delete:active{
	outline:none;
}

.delete img{
	height: 27px;
}

.delete img:active{
	-webkit-filter: saturate(500%);
}

.itemText {
	width: 75%;
	margin-left: 3%;
	float: left;
}

.itemText:hover{
	cursor: pointer;
}

.itemCheck{
	margin-right: 2%;
	float: right;
}