/* .itemCounter {
	-webkit-transition: opacity 2s;
	position: relative;
	opacity: 0;
} */

.itemCounter{
	position: relative;
	background-color: rgba(30,30,30,0.15);
}

.itemBody > *{
	display: inline-block;
}