/* .itemCounter {
	-webkit-transition: opacity 2s;
	position: relative;
	opacity: 0;
} */

.itemCounter{
	position: relative;
	background-color: rgba(89, 100, 228, 1);
	border-radius: 10px;
}

.itemBody > *{
	display: inline-block;
}