.afterAddItem {
	opacity: 1;
	height:61px;
	top:0;
	margin-bottom: 5px;
	-webkit-transition: opacity 0.5s, top 0.5s, height 0.5s, margin-bottom 0.5s;
}

.beforeAddItem {
	opacity: 0;
	height:0;
	top:-10px;
	margin-bottom: 0;
}

.marker+.ui-sortable-helper+li {
	margin-top: 66px;
}

.marker+li:not(.ui-sortable-helper) {
	margin-top: 66px;
}

.marginTransition{
	-webkit-transition: margin-top 0.2s;
}