.afterAddItem {
	opacity: 1;
	height:61px;
	top:0;
	-webkit-transition: opacity 0.5s, top 0.5s, height 0.5s, margin-top 0.1s;
}

.beforeAddItem {
	opacity: 0;
	height:0;
	top:-10px;
}

.marker+.ui-sortable-helper+li {
	margin-top: 61px;
}

.marker+li:not(.ui-sortable-helper) {
	margin-top: 61px;
}
